<header class="header">
  <div class="logo">
    <img src="../../assets/img/iconos/frameworks/angular.png" alt="" />
  </div>
  <!-- <button class="menu"><img src="../../assets/img/header/lista.svg" alt=""></button> -->
  <button id="abrir" class="abrir-menu">Abrir</button>
  <nav class="nav" id="nav">
    <button id="cerrar" class="cerrar-menu">Cerrar</button>
    <ul class="nav-list">
      <li><a href="#">SOLUCIONES</a></li>
      <li><a href="#">SOBRE NOSOTROS</a></li>
      <li><a href="#">CASOS DE EXITO</a></li>
      <li><a href="#">TECNOLOGIAS</a></li>
      <li><a href="#">PUBLICACIONES</a></li>
      <li><a class="contacto" href="#">CONTACTO</a></li>
    </ul>
  </nav>
</header>
