* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header.abajo {
  /* background-color: #1e2422; */
  padding: 10px 44px 10px 44px;
  /* opacity: 0.9; */
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  /* filter: grayscale(0.2); */
}
header.abajo .nav ul li a {
  color: #fff !important;
}
header.abajo .nav ul li .contacto {
  color: #fff !important;
}
.header .nav ul li a {
  color: #fff;
}
.contacto {
  background-color: #4db6ac;
  padding: 9px 24px 9px 24px;
  border-radius: 40px;
}
a {
  padding: 5px 10px 5px 10px;
  border-radius: 14px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  color: white;
  font-weight: 900;
  padding: 50px 40px 50px 40px;
  transition: 0.4s;
}
.header .logo img {
  width: 60px;
  height: auto;
  transition: 1.5s;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li a {
  text-decoration: none;
  font-family: Public Sans !important;
  font-size: 15.6px;
}
.nav-list li a {
  margin: 0 0 0 20px;
  color: aliceblue;
}
a:hover {
  cursor: pointer;
}
/* .menu {
  display: none;
} */
.abrir-menu,
.cerrar-menu {
  display: none;
}
@media screen and (max-width: 900px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0 !important;
    background-color: #1c1c1c;
    padding: 2rem;
    /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); */
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header {
    display: grid;
    grid-template-columns:1fr 60px;
    padding: 20px 30px 20px 30px;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list li a {
    color: #ececec;
  }
  header.abajo {
    /* background-color: #eee; */
    padding: 2px 25px 2px 25px;
  }
}
