<header class="header">
  <div class="logo">
    <img src="../../assets/img/logo/menu.png" alt="" />
  </div>
  <button id="abrir" class="abrir-menu"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 256 256"><rect width="256" height="256" /><line x1="40" y1="128" x2="216" y2="128"  stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="40" y1="64" x2="216" y2="64"  stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="40" y1="192" x2="216" y2="192"  stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/></svg>
  </button>
  <!-- <button id="abrir" class="abrir-menu">Abrir</button> -->
  <nav class="nav" id="nav">
    <section class="hover-nav">
      <img class="nav-pie-ico" src="../../assets/img/logo/pie.webp" alt="">
      <button id="cerrar" class="cerrar-menu"><svg id="ico-cerrar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg></button>
    </section>
    <ul class="nav-list">
      <li><a href="#">SOLUCIONES</a></li>
      <li><a href="#">SOBRE NOSOTROS</a></li>
      <li><a href="#">CASOS DE EXITO</a></li>
      <li><a href="#">TECNOLOGIAS</a></li>
      <li><a href="#">PUBLICACIONES</a></li>
      <li><a class="contacto" href="#">CONTACTO</a></li>
    </ul>
  </nav>
</header>
