* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header.abajo {
  /* background-color: #1e2422; */
  padding: 10px 44px 10px 44px;
  /* opacity: 0.9; */
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  /* filter: grayscale(0.2); */
}
header.abajo .nav ul li a {
  color: #fff !important;
}
header.abajo .nav ul li .contacto {
  color: #fff !important;
}
.header .nav ul li a {
  color: #fff;
}
.contacto {
  background-color: #4db6ac;
  padding: 9px 24px 9px 24px;
  border-radius: 40px;
}
a {
  padding: 5px 10px 5px 10px;
  border-radius: 14px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  color: white;
  font-weight: 900;
  padding: 50px 40px 50px 40px;
  transition: 0.4s;
}
.header .logo img {
  width: 10rem;
  height: auto;
  transition: 1.5s;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li a {
  text-decoration: none;
  font-family: Public Sans !important;
  font-size: 15.6px;
}
.nav-list li a {
  margin: 0 0 0 20px;
  color: aliceblue;
}
a:hover {
  cursor: pointer;
}
/* .menu {
  display: none;
} */
.abrir-menu,
.cerrar-menu, .nav-pie-ico {
  display: none;
}
@media screen and (max-width: 900px) {
  .hover-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
    background-color: #4db6ac;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
  }
  .nav-pie-ico{
    display: flex;
    width: 40px;
    height: 40px;
  }
  .abrir-menu,
  .cerrar-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background-color:#2E2E2E;
    border-radius: 6px;
    border:solid 1px #2E2E2E;
    cursor: pointer;
  }
  .cerrar-menu {
    margin-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ico-cerrar {
    width: 3em;
    height: 3em;
    font-weight: 100;
    stroke: #919191;
    fill: #919191;
  }
  line,svg {
    fill: #2E2E2E;
    stroke: #919191;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.5s ease-out; */
  }
  .nav {
    margin:0.3em 0.3em 0 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: end;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #111111;
    border-radius: 6px;
    /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); */
  }
  .nav-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 2.5em;
    align-items: start;
  }
  .header {
    display: grid;
    grid-template-columns:1fr 60px;
    padding: 20px 30px 20px 30px;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list li a {
    color: #ececec;
  }
  header.abajo {
    /* background-color: #eee; */
    padding: 2px 25px 2px 25px;
  }
}
