* {
  margin: 0;
  padding: 0;
}
.cajon {
  display: block;
}
.root {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0;
  position: fixed;
  z-index: 2;
  color: white;
  font-family: var(--nav_typography-font-family);
  font-weight: 900;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin: 0 0 0 20px;
  color: aliceblue;
}
.nav:hover {
  cursor: pointer;
}
