<div class="box">
  <div class="info">
    <h3>¿Por que Elegir G07soft?</h3>
    <div class="parrafo">
      <p>
        <fa-icon [icon]="faCoffee"></fa-icon> Utilisamos tecnologias de ultima
        generacion
      </p>
      <p>
        <fa-icon [icon]="faCoffee"></fa-icon> Trabajamos con tecnologias Agiles
      </p>
      <p>
        <fa-icon [icon]="faCoffee"></fa-icon> Somos expertos en
        <a href="#">tecnologias cloud</a>
      </p>
    </div>
  </div>
  <div class="demo">
    <iframe
      src="https://www.youtube.com/embed/UrvPjYViDTQ"
      title="Programador reacciona a PORTAFOLIOS 🖥 #1"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
