<div class="root">
  <div class="box">

    <section class="cajon" style="--clr: #eb5ae5">
      <div class="cajon-ico">
        <img class="ico" [src]="ico1" alt="" />
      </div>
      <div class="cajon-texto">
        <h3 class="title">{{ titulo1 }}</h3>
        <p>{{ parrafo1 }}</p>
      </div>
    </section>

    <section class="cajon" style="--clr: #eb5ae5">
      <div class="cajon-ico">
        <img class="ico" [src]="ico2" alt="" />
      </div>
      <div class="cajon-texto">
        <h3 class="title">{{ titulo2 }}</h3>
        <p>{{ parrafo1 }}</p>
      </div>
    </section>

    <section class="cajon" style="--clr: #eb5ae5">
      <div class="cajon-ico">
        <img class="ico" [src]="ico3" alt="" />
      </div>
      <div class="cajon-texto">
        <h3 class="title">{{ titulo3 }}</h3>
        <p>{{ parrafo1 }}</p>
      </div>
    </section>

  </div>
</div>
