<div class="box">
  <section class="cajon">
    <div class="title">
      <img class="ico" src="../../assets/img/seccion8/chrome.png" alt="">
      <h3>Google</h3>
    </div>
    <p>Mirando Hacia el futuro</p>
    <div class="margen"></div>
  </section>
  <section class="cajon">
    <div class="title">
      <img class="ico" src="../../assets/img/seccion8/physics.png" alt="">
      <h3>React</h3>
    </div>
    <p>Mirando Hacia el futuro</p>
    <div class="margen"></div>
  </section>
  <section class="cajon">
    <div class="title">
      <img class="ico" src="../../assets/img/seccion8/IA.png" alt="">
      <h3>IA</h3>
    </div>
    <p>Mirando Hacia el futuro</p>
    <div class="margen"></div>
  </section>
</div>
