@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  background-color: #040404 ;
  color: white;
}
.raiz {
  margin: 0 30px 0 30px;
}
.box {
  display: flex;
  justify-content: space-around;
  margin: 0 0 35px 0;
  padding-top: 25px;
}
.social {
  display: flex;
  justify-content:space-between;
  list-style: none;
  margin-top: 35px;
}

/* ESTILOS DE SVG */
svg{
  border: 0;
  margin: 0 10px 0 0;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 6px;
  background-color: #3c3c44;
  fill: #ffffff;
  transition-duration:1s;
}
svg:hover{
  fill: #3c3c44;
  transition-duration:1s;
  background-color: #00d9e8;
  cursor:pointer;
}

.ico-social{
  /* background-color: rgb(135, 15, 15); */
  border: 0;
  margin: 0 10px 0 0;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 6px;
  background-color: #3c3c44;
  transition-duration:1s;
}
.ico-social:hover {
  cursor: pointer;
  background-color: #0a7d84;
}
/* FIN ESTILE SVG */
.itemP {
  margin-right: 12rem;
}
h1 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.ph1 {
  font-size:0.9rem;
  margin: 10px 0 10px 0;
}
h3 {
  margin-bottom: 30px;
}
p {
  font-size:1rem;
  margin: 15px 0 15px 0;
}
.pie {
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.lineai, .lineao {
  width: 38%;
  border-radius: 100%;
}
.lineai {
  margin: 0 1.5em 0 5em;
}
.lineao {
  margin: 0 5em 0 1.5em;
}
.a {
  display: flex;
  align-items: center;
  justify-content:center;
}
a {
  text-decoration: none;
  margin: 35px 0 35px 0;
}
button {
  background-color:  #3c3c44 ;
  color: #bbbcc1 ;
  padding: 10px;
  border-radius: 6px;
  border: solid #3c3c44 1px;
  font-weight: 900 !important;
}
button:hover {
  color: white;
  cursor: pointer;
}
.send {
  background-color: #3c3c44;
  color: #bbbcc1;
  margin-left: 3em;
  font-size: 1.2em;
}
button:hover .send {
  color: white;
}
.ico-link {
  margin: 0;
}
