<div>
  <div class="raiz">
    <div class="box">
      <div class="itemP">
        <h1>G07soft</h1>
        <p class="ph1">Copyright c 2023 Londify UI Kit.</p>
        <p class="ph1">All rights reserved</p>
        <ul class="social">
          <li class="ico-social">i</li>
          <li class="ico-social">i</li>
          <li class="ico-social">i</li>
          <li class="ico-social">i</li>
          <li class="ico-social">i</li>
        </ul>
      </div>
      <div class="item">
        <h3>Company</h3>
        <p>Lorem,</p>
        <p>Lorem,</p>
        <p>Lorem,</p>
        <p>Lorem,</p>
        <p>Lorem,</p>
      </div>
      <div class="item">
        <h3>Support</h3>
        <p>Lorem,</p>
        <p>Lorem,</p>
        <p>Lorem,</p>
        <p>Lorem,</p>
        <p>Lorem,</p>
      </div>
      <div>
        <h3>Stay up to date</h3>
        <button value="Your email address">Your email address<fa-icon class="send" [icon]="send"></fa-icon></button>
      </div>
    </div>
    <div class="pie">
      <hr class="lineai">
      <p>HIL</p>
      <hr class="lineao">
    </div>
    <div class="a">
      <a href="">Lorem ipsum dolor sit.lorem3</a>
    </div>
  </div>
</div>
