* {
  color: rgba(28, 170, 178, 1);
  font-weight: 900;
  font-family: "Public Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  /* font-family: "Sassy Frass"; */
}
.roow {

}
.box {
  background-color: rgba(0, 0, 0, 0.298);
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 683px;
}
h3 {
  position: absolute;
  font-size: 3rem;
  font-family: Public Sans !important;
  margin-left: 65px;
  margin-top: 30px;
}
.proyectos {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.imagen {
  width: 240px;
  height: 204px;
  border-radius: 3px;
  margin-top: 8rem;
}
figcaption {
  margin-bottom: 8rem;
  width: 240px;
  background-color: #eeeeee1f;
  color: #000000;
}
.fondo {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 60px;
}
.img-fondo {
  width: 660px;
  height: 800px;
  position: absolute;
  z-index: -1;
}
/* .box {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
  } */
