<div class="roow">
  <div class="fondo">
    <img class="img-fondo" src="https://cdn.pixabay.com/photo/2017/07/31/21/49/skyscraper-2561415_1280.jpg" alt="cielos">
  </div>
  <div class="box">
    <h3>Proyectos recientes</h3>
    <section class="proyectos">
      <figure>
        <img class="imagen"src="https://media.istockphoto.com/id/1249219777/es/foto/concepto-de-compra-en-l%C3%ADnea-cajas-de-paquetes-o-papel-con-un-logotipo-de-carrito-de-compras-en.jpg?s=612x612&w=0&k=20&c=c9lWANC_5G8ghLMV_EYiGlJpO55q--wIk8MRgI_08CQ=" alt="tienda"/>
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
      </figure>
      <figure>
        <img class="imagen"src="https://media.istockphoto.com/id/1168546170/es/foto/cerrado-y-centrarse-en-la-mano-de-la-joven-sostener-una-tarjeta-de-cr%C3%A9dito-y-otra-mano.jpg?s=612x612&w=0&k=20&c=9qsmggqBhRsbOy8RnCJ-w_dCch-oT3xclrhafj_-WDg=" alt="" />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
      </figure>
      <figure>
        <img class="imagen"src="https://cdn.pixabay.com/photo/2016/01/13/23/12/clay-1139098_1280.jpg" alt="" />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
      </figure>
      <figure>
        <img class="imagen"src="https://cdn.pixabay.com/photo/2017/03/01/10/03/businessman-2108029_1280.jpg" alt="" />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
      </figure>
    </section>
  </div>
</div>
