<router-outlet></router-outlet>
<app-header></app-header>
<app-seccion2></app-seccion2>
<app-seccion3></app-seccion3>
<app-seccion5></app-seccion5>
<app-seccion6></app-seccion6>
<app-seccion7></app-seccion7>
<app-seccion8></app-seccion8>
<app-seccion11-footer></app-seccion11-footer>

<!-- DISEÑO DE PRUEBA SWIPER-->
<!-- <swiper
[slidesPerView]="1"
[spaceBetween]="10"
[navigation]="true"
[pagination]="{ clickable: true }"
>
<ng-template swiperSlide>Slide 1</ng-template>
<ng-template swiperSlide>Slide 2</ng-template>
<ng-template swiperSlide>Slide 3</ng-template>
<ng-template swiperSlide>Slide 4</ng-template>
<ng-template swiperSlide>Slide 5</ng-template>
<ng-template swiperSlide>Slide 6</ng-template>
</swiper> -->
<!-- FIN SWIPER -->
