<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>CONTACTO</h2>
        <div class="fila">
            <!-- Formulario -->
            <div class="col">
                <input type="text" placeholder="Tú Nombre">
                <input type="text" placeholder="Número telefónico">
                <input type="text" placeholder="Dirección de correo">
                <input type="text" placeholder="Tema">
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                <button>
                    Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                    <span class="overlay"></span>
                </button>
            </div>
            <!-- Mapa -->
            <div class="col">
                <div class="info">
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            Cuidad de El Alto, Zona
                        </li>
                        <li>
                            <i class="fa-solid fa-mobile-screen"></i>
                            Llamanos: +591 00000000 
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            Email: G07soft@gmail.com
                        </li>
                    </ul>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1154.3166647963687!2d-68.2243594220694!3d-16.510526048786307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sbo!4v1677111930250!5m2!1ses!2sbo" frameborder="0" style="border:0; width: 100%; height: 550px;" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
